/* M E N U */
ul#menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: red;
}

ul#menu li {
  position: relative;
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  padding-top: 0;
}

ul#menu li a {
  padding: 2px 2px;
  text-decoration: none;
  font: bold 13px Verdana, Georgia, "Times New Roman", Times, serif;
  color: #ff4e00;
}

ul#menu li.select a {
  padding: 2px 2px;
  text-decoration: none;
  font: bold 13px Verdana, Georgia, "Times New Roman", Times, serif;
  color: #000;
}

ul#menu li a:hover {
  color: red;
  border: none;
}