<h5>Bodypoint Nu&#241;ez | <span>Informacion de la Sede</span></h5>
          <img src="/images/plano.jpg" alt="Plano Bodypoint Nuñez"/>

          <p class="direccion"><span>Direccion: </span><br/>
            Av. Figueroa Alcorta 7510 (Frente a estadio Club Atletico River Plate)<br/>
            <span>Horarios:</span><br/>
            Lunes a Viernes: 9 a 99 hs / Sabados: 9 a 99 hs / Domingos: Cerrado<br/>
            --------------------------------------------------------------------------------------------<br/>
            Colectivos: 01 - 02 - 03 - 04 - 05 - 06 - 07 - 08 - 09 - 10 - 11 - 12 </p>
          <hr/>
          <div id="gym_description">
            <p><span>* Gimnasio de Aerobica</span> <br/> Superficie 450 m2.<br/> Piso de mandera. Con circuladores de
              aire (ventiladores). </p>

            <p><span>* Salon de Spinning y Fit Ball</span> <br/> Superficie de 250 m2. <br/> Con 37 bicicletas y 20
              pelotas (aprox. 30 pelotas de Fit Ball). <br/> Con circuladores de aire.</p>

            <p><span>* Salon de Musculacion</span> <br/> Superficie aproximada 700 m2.<br/> Equipado con maquinas de
              ultima generacion. <br/> 22 cintas Kip Machines, 10 bicicletas. <br/> Moderno piso de goma en el sector
              peso libre </p>
          </div>
          <div id="gym_photos">
          </div>