<%= render :partial => 'locations/list', :locals => {:locations => Location.all} %>

<% if current_user %>
  <%= link_to 'Administrar locaciones', locations_path %>
  <br/>
<% end %>
<br/>

<ul>
<% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity %></li>
<% end %>
</ul>

<% if current_user %>
  <%= link_to 'Nueva actividad', new_activity_path %>
<% end %>