<%= render :partial => 'locations/list', :locals => {:locations => Location.all} %>

<%= link_to 'Administrar locaciones', locations_path %>
<br/><br/>

<ul>
<% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity %></li>
<% end %>
</ul>

<%= link_to 'Nueva actividad', new_activity_path %>