<h1>Listing activities</h1>

<%= render :partial => 'locations/list', :locals => {:locations => Location.all} %>

<%= link_to 'Manage locations', locations_path %>
<br/><br/>

<ul>
<% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity %></li>
<% end %>
</ul>

<%= link_to 'New activity', new_activity_path %>